In [1]:
import pandas as pd

In [2]:
cbb_df = pd.read_csv('C:/Users/Home/March_Madness_2023/Data/ESPN_BPI.csv')
cbb_df

,Rk,Team,Conf,W-L,BPI Off,BPI Def,BPI,Year
0,1,Kansas,Big 12,37-3,12.4,9.6,21.9,2008
1,2,North Carolina,ACC,36-3,19.2,1.0,20.2,2008
2,3,Memphis,C-USA,38-2,11.3,8.0,19.3,2008
3,4,UCLA,Pac-12,35-4,7.9,10.9,18.9,2008
4,5,Duke,ACC,28-6,13.8,4.3,18.2,2008
...,...,...,...,...,...,...,...,...
3814,347,Mississippi Valley St.,SWAC,28-Apr,-9.9,-6.5,-16.3,2018
3815,348,Chicago St.,WAC,29-Mar,-7.5,-9.0,-16.5,2018
3816,349,Delaware St.,MEAC,28-Apr,-9.4,-8.5,-18.0,2018
3817,350,Alabama A&M,SWAC,28-Mar,-11.7,-7.4,-19.1,2018
3818,351,Maryland-Eastern Shore,MEAC,25-Jul,-10.1,-9.5,-19.6,2018

In [3]:
cbb_df['Team'].unique()

array(['Kansas', 'North Carolina', 'Memphis', 'UCLA', 'Duke',
       'Georgetown', 'West Virginia', 'Wisconsin', 'Tennessee',
       'Louisville', 'Davidson', 'Clemson', 'Washington St.', 'Xavier',
       'Marquette', 'Stanford', 'Texas', 'Michigan St.', 'Pittsburgh',
       'Indiana', 'Butler', 'Connecticut', 'Texas A&M', 'Notre Dame',
       'USC', 'Ohio St.', 'Gonzaga', 'Mississippi St.', 'Arizona',
       'Florida', 'Miami FL', 'Drake', 'Purdue', 'Oregon',
       'Virginia Tech', 'Arkansas', 'Kansas St.', 'Syracuse', 'Oklahoma',
       "Saint Joseph's", 'Mississippi', 'New Mexico', 'Georgia Tech',
       'Missouri', 'Villanova', 'VCU', "Saint Mary's", 'UNLV',
       'Vanderbilt', 'Maryland', 'Florida St.', 'BYU', 'Western Kentucky',
       'Illinois', 'Rhode Island', 'Baylor', 'Massachusetts', 'Minnesota',
       'Kent St.', 'Nebraska', 'Duquesne', 'Kentucky', 'Arizona St.',
       'Dayton', 'Wake Forest', 'Temple', 'Washington', 'California',
       'Illinois St.', 'UAB', 'Houston', 'George Mason', 'Akron',
       'Virginia', 'Creighton', 'South Alabama', 'Southern Illinois',
       'Charlotte', 'IUPUI', 'Alabama', 'Winthrop', 'Providence', 'Utah',
       'Oral Roberts', 'Georgia', 'South Carolina', 'Tulsa', 'Siena',
       'Oklahoma St.', 'Texas Tech', 'Miami (OH)', 'Stephen F. Austin',
       'Cal St. Fullerton', 'Western Michigan', 'UNC Greensboro',
       'Boston College', 'Old Dominion', 'New Mexico St.',
       'UC Santa Barbara', 'Ohio', 'San Diego St.', 'North Carolina St.',
       'Missouri St.', 'Bradley', 'Southern Miss', 'UCF', 'Cornell',
       'UTEP', 'DePaul', 'Seton Hall', 'South Florida',
       'North Dakota St.', 'LSU', 'Cal St. Northridge', 'Valparaiso',
       'Portland St.', 'Cincinnati', 'Robert Morris', 'Brown',
       'Wright St.', 'Belmont', 'Sam Houston St.', 'Cleveland St.', 'UIC',
       'Rider', 'Nevada', 'Northern Iowa', 'High Point', 'Pacific',
       'UMBC', 'Penn St.', 'Boise St.', 'Lamar', 'Auburn', 'Utah St.',
       'San Diego', 'Iowa St.', 'Marshall', "St. John's", 'Saint Louis',
       'Fordham', 'North Texas', 'Indiana St.', 'Appalachian St.',
       'UC Irvine', 'Northeastern', 'Niagara', 'Austin Peay',
       'Georgia Southern', 'Green Bay', 'Oakland', 'American', 'Tulane',
       'Marist', 'UNC Asheville', 'Michigan', 'Holy Cross', 'Albany',
       'Wichita St.', 'Chattanooga', 'Richmond', 'La Salle', 'Vermont',
       'Iowa', 'Colorado', 'Loyola MD', 'UNC Wilmington',
       'College of Charleston', 'Montana', 'George Washington',
       "Mount St. Mary's", 'SE Louisiana', 'TCU', 'East Tennessee St.',
       'Morgan St.', 'Santa Clara', 'Liberty', 'Central Michigan',
       'James Madison', 'Air Force', 'Murray St.', 'Yale', 'Milwaukee',
       'William & Mary', 'Lafayette', 'New Orleans', 'Gardner-Webb',
       'Hampton', 'UT Arlington', 'Lipscomb', 'Northern Arizona', 'VMI',
       'Arkansas Little Rock', 'Fort Wayne', 'Fresno St.',
       'Middle Tennessee', 'Central Connecticut', 'Navy',
       'Eastern Michigan', 'Weber St.', 'Colgate', 'Delaware',
       'Sacred Heart', 'Rutgers', 'Loyola Chicago', 'Wofford', 'Hofstra',
       'Tenn-Martin', 'Boston University', 'Northwestern', 'Utah Valley',
       'Hawaii', 'Binghamton', 'LIU Brooklyn', 'Louisiana', 'Columbia',
       'Fairfield', 'Wagner', 'Tennessee Tech', 'Buffalo', 'Toledo',
       'Florida Atlantic', 'Towson', 'Bowling Green', 'Drexel',
       'Quinnipiac', 'Elon', 'St. Bonaventure', 'Nicholls St.',
       'UL Monroe', 'McNeese St.', 'Montana St.', 'Tennessee St.',
       'Bucknell', 'Jacksonville', 'Iona', 'Youngstown St.',
       'Alabama St.', 'Eastern Kentucky', 'Hartford', 'Lehigh',
       'Arkansas St.', 'Manhattan', 'Ball St.', 'Wyoming', 'Evansville',
       'Pepperdine', 'Western Carolina', 'Army', 'New Hampshire',
       'UT Rio Grande Valley', 'San Francisco', 'Coastal Carolina',
       'Eastern Washington', 'Georgia St.', 'East Carolina', 'Detroit',
       'Presbyterian', 'Texas St.', 'Cal Poly', 'Troy',
       'Western Illinois', 'Delaware St.', 'Central Arkansas', 'UMKC',
       'Texas A&M-CC',
       'San JosÃƒ\x83Ã‚\x83Ãƒ\x82Ã‚\x83Ãƒ\x83Ã‚\x82Ãƒ\x82Ã‚\x83Ãƒ\x83Ã‚\x83Ãƒ\x82Ã‚\x82Ãƒ\x83Ã‚\x82Ãƒ\x82Ã‚\x83Ãƒ\x83Ã‚\x83Ãƒ\x82Ã‚\x83Ãƒ\x83Ã‚\x82Ãƒ\x82Ã‚\x82Ãƒ\x83Ã‚\x83Ãƒ\x82Ã‚\x82Ãƒ\x83Ã‚\x82Ãƒ\x82Ã‚Â© St.',
       'Morehead St.', 'Oregon St.', 'Samford', 'Campbell',
       'Northern Colorado', 'Mercer', 'North Carolina A&T', 'Penn',
       'Harvard', 'Stetson', 'Norfolk St.', "Saint Peter's",
       "Florida Int'l", 'Chicago St.', 'Charleston Southern',
       'Northwestern St.', 'UTSA', 'Southern Utah', 'SMU', 'Colorado St.',
       'Stony Brook', 'Princeton', 'Northern Illinois', 'Portland',
       'South Carolina Upstate', 'St. Francis BKN', 'UC Riverside',
       'Denver', 'Radford', 'South Dakota St.', 'Rice', 'Dartmouth',
       'Idaho', 'Furman', 'SE Missouri St.', 'Florida Gulf Coast',
       'Kennesaw St.', 'Fairleigh Dickinson', 'Long Beach St.',
       'South Carolina St.', 'Eastern Illinois', 'Jackson St.',
       'Monmouth', 'Florida A&M', 'Alabama A&M', 'St. Francis (PA)',
       'Coppin St.', 'Southern', 'Savannah St.', 'UC Davis', 'Idaho St.',
       'Jacksonville St.', 'Cal St. Bakersfield', 'Bethune-Cookman',
       'Maine', 'Canisius', 'Arkansas Pine Bluff', 'Sacramento St.',
       'Mississippi Valley St.', 'Longwood', 'Louisiana Tech',
       'The Citadel', 'Prairie View', 'Texas Southern',
       'Loyola Marymount', 'North Florida', 'Howard', 'Alcorn St.',
       'Maryland-Eastern Shore', 'Grambling St.',
       'North Carolina Central', 'NJIT', 'Seattle', 'South Dakota',
       'SIU-Edwardsville', 'Bryant', 'North Dakota', 'Houston Baptist',
       'Northern Kentucky', 'Omaha', 'Grand Canyon',
       'Louisiana Lafayette', 'Incarnate Word', 'UMass Lowell',
       'Abilene Christian', 'Nc St.', "St. John'S", 'Ucf', 'Depaul',
       "Saint Joseph'S", 'Vcu', 'St. Francis (Pa)', "Hawai'I",
       "Florida Int'L", 'St. Francis Bkn'], dtype=object)

In [4]:
cbb_df['Conf'].unique()

array(['Big 12', 'ACC', 'C-USA', 'Pac-12', 'Big East', 'Big Ten', 'SEC',
       'Southern', 'A 10', 'Horizon', 'WCC', 'MVC', 'MW', 'CAA',
       'Sun Belt', 'MAC E', 'Summit', 'Big South', 'MAAC', 'Southland',
       'Big West', 'MAC W', 'WAC', 'Ivy', 'Big Sky', 'NEC', 'A-Sun',
       'Am. East', 'OVC', 'Patriot', 'MEAC', 'Indep.', 'SWAC',
       'Ohio Valley E', 'Ohio Valley W', 'Big South S', 'Big South N',
       'American'], dtype=object)

In [5]:
final_df = cbb_df[cbb_df['Team'].isin(['Purdue','Texas Southern','Fairleigh Dickinson','Memphis','Florida Atlantic','Duke','Oral Roberts','Tennessee','Louisiana Lafayette','Kentucky','Providence','Kansas St.','Montana St.','Michigan St.','USC','Marquette','Vermont','Kansas','Howard','Arkansas','Illinois','Saint Mary','VCU','Connecticut','Iona','TCU','Arizona St.','Nevada','Gonzaga','Grand Canyon','Northwestern','Boise State','UCLA','UNC Asheville','Houston','Northern Kentucky','Iowa','Auburn','Miami FL','Drake','Indiana','Kent St.','Iowa St.','Mississippi St.','Pittsburgh','Xavier','Kennesaw St.','Texas A&M','Penn State','Texas','Colgate','Alabama','Texas A&M-CC','SE Missouri St.','Maryland','West Virginia','San Diego St.','College of Charleston','Virginia','Furman','Creighton','North Carolina St.','Baylor','UC Santa Barbara','Missouri','Utah St.','Arizona','Princeton'])]
final_df.head()

   Rk           Team      Conf    W-L  BPI Off  BPI Def   BPI  Year
0   1         Kansas    Big 12   37-3     12.4      9.6  21.9  2008
2   3        Memphis     C-USA   38-2     11.3      8.0  19.3  2008
3   4           UCLA    Pac-12   35-4      7.9     10.9  18.9  2008
4   5           Duke       ACC   28-6     13.8      4.3  18.2  2008
6   7  West Virginia  Big East  26-11      8.9      7.7  16.6  2008

In [6]:
final_df['Team'].unique()

array(['Kansas', 'Memphis', 'UCLA', 'Duke', 'West Virginia', 'Tennessee',
       'Xavier', 'Marquette', 'Texas', 'Michigan St.', 'Pittsburgh',
       'Indiana', 'Connecticut', 'Texas A&M', 'USC', 'Gonzaga',
       'Mississippi St.', 'Arizona', 'Miami FL', 'Drake', 'Purdue',
       'Arkansas', 'Kansas St.', 'Missouri', 'VCU', 'Maryland',
       'Illinois', 'Baylor', 'Kent St.', 'Kentucky', 'Arizona St.',
       'Houston', 'Virginia', 'Creighton', 'Alabama', 'Providence',
       'Oral Roberts', 'UC Santa Barbara', 'San Diego St.',
       'North Carolina St.', 'Nevada', 'Auburn', 'Utah St.', 'Iowa St.',
       'UNC Asheville', 'Vermont', 'Iowa', 'College of Charleston', 'TCU',
       'Colgate', 'Northwestern', 'Florida Atlantic', 'Montana St.',
       'Iona', 'Texas A&M-CC', 'Princeton', 'Furman', 'SE Missouri St.',
       'Kennesaw St.', 'Fairleigh Dickinson', 'Texas Southern', 'Howard',
       'Northern Kentucky', 'Grand Canyon', 'Louisiana Lafayette'],
      dtype=object)

In [7]:
final_df['Team'].value_counts()

Kansas                   11
College of Charleston    11
Creighton                11
Alabama                  11
Providence               11
                         ..
North Carolina St.       10
VCU                      10
Northern Kentucky         6
Grand Canyon              5
Louisiana Lafayette       1
Name: Team, Length: 65, dtype: int64

In [8]:
final_df['Team'].dtypes

dtype('O')

In [10]:
final_df.to_csv('C:/Users/Home/March_Madness_2023/Data/clean_Data.csv', index = False)